* {
    background-color: floralwhite; /* Universal background color */
}

* {
    font-family: "Goudy Old Style", "Garamond", serif; /* Universal font */
}

.btn {
    color: black;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    font-size: inherit; /* Inherit the font size from the universal styles */
    transition: all 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5); /* Outset shadow */
}

.btn:hover {
    color: black;
    transform: translateY(-10px);
    background-color: rosybrown;
}

/* Style for the horizontal line */
hr {
    border: none; /* Remove the default line */
    background: linear-gradient(to right, maroon, rosybrown, gainsboro); /* Use a gradient as the background */
    height: 2px; /* Set the height to make it bold */
}

/* CSS to style the labels and checkboxes */
    div label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }

    div input[type="checkbox"] {
        float: right;
    }

body {
        margin-left: 15px;
        margin-right: 15px;
    }
    


    
    