* {
    background-color: white; /* Universal background color */
}

* {
    font-family: Arial, sans-serif;
}


* {
    margin-left: 5px;
}

* {
    margin-right: 5px;
}

* {
    margin-top: 1px;
}

* {
    line-height: 1.44;
}

h1 {
    font-size: 1.50rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.99rem;
}

/* Normal text (e.g., paragraphs, spans, etc.) */
body {
    font-size: 0.895rem;
}


/* Add some basic CSS styles for the tabs and content */
        .tabs {
            display: flex;
        }

        .tab {
            flex: 1;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            background-color: #164081;
        }

        .tab:hover {
            background-color: #3f73d3;
        }

        .tab.active {
            background-color: #949494;
        }

        .form-container {
            display: none;
            padding: 20px;
            border: 5px solid #0d2d5e;
        }

        .aboutUs-container.active {
            display: block;
        }


        .aboutUs-container {
            display: none;
            padding: 20px;
            border: 5px solid #424242;
        }

        .form-container.active {
            display: block;
        }
/* Style for the horizontal line */
hr {
    border: none; /* Remove the default line */
    background: linear-gradient(to right, #0072bb, #0096e0, #6cc0e5, #b2e0f0); /* Blue gradient */
    height: 2px;
}

/* Style for button */
.btn {
    color: black;
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    font-size: inherit; /* Inherit the font size from the universal styles */
    transition: all 0.3s;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5); /* Outset shadow */
}

.btn:hover {
    color: black;
    transform: translateY(-10px);
    background-color: #e4e2e0;
}

